<div class="back-img bottompadding">
    <div class="container ">
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">
                <h1 class="text-center " style="font-size: 50px">Ready to Buy?
                </h1>
                <h4 class="text-center py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia
                    velit
                    a
                    feugiat
                    finibus. Morbi iaculis diam id tellus iaculis, eu pretium metus fermentu
                </h4>
                <div class="d-flex justify-content-center  " style="padding: 15px;">
                    <button class="button text-uppercase "><a class="text-decoration-none text-white"
                            href="<%-'contact'%>">make an appointment</a></button>
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>

<div class="footer-bg pt-5 ">

    <footer id="main-footer">
        <div class="container">
            <div class="row padding">
                <div class="col-md-4">

                    <div id="footer-widgets" class="clearfix">
                        <h4 class="title" style="color:#0c51bb">Follow me on Twitter</h4>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <a class="twitter-timeline" data-height="300" data-width="270" data-theme="light"
                            data-link-color="#3b94d9" data-border-color="#f5f5f5"
                            href="https://twitter.com/flannaccounts">Tweets by
                            @flannaccounts</a>
                    </div> <!-- end .fwidget -->
                </div>

                <div class="col-md-4">
                    <div class="footer-widget">
                        <div id="text-2" class="fwidget et_pb_widget widget_text">
                            <h4 class="title" style="color: #0c51bb;">Teesside Office</h4>
                            <div class="textwidget">
                                <p>3A Evolution<br />
                                    Wynyard business park<br />
                                    Wynyard<br />
                                    TS22 5TB<br />
                                    <a class="text-decoration-none text-white" href="mailto:info@flannagans.co.uk">
                                        info@flannagans.co.uk</a><br />
                                    0142 989 0111<br />
                                    0142 989 0222
                                </p>
                            </div>
                        </div> <!-- end .fwidget -->
                    </div> <!-- end .footer-widget -->
                </div>
                <div class="col-md-4">
                    <div class="footer-widget">
                        <div id="text-3" class="fwidget et_pb_widget widget_text">
                            <h4 class="title" style="color: #0c51bb;">Gateshead Office</h4>
                            <div class="textwidget">
                                <p>7 Bankside<br />
                                    The Watermark<br />
                                    Gateshead NE11 9SY<br />
                                    <a class="text-decoration-none text-white"
                                        href="mailto:gateshead@flannagans.co.uk">gateshead@flannagans.co.uk</a><br />
                                    0191 4605388<br />
                                    0191 2478111
                                </p>
                            </div>
                        </div> <!-- end .fwidget -->
                    </div> <!-- end .footer-widget -->
                </div>
            </div> <!-- #footer-widgets -->
        </div>
        <div class="copyright copy-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                        © 2022 - Design and Developed by
                    </div>
                    <div class="col-md-3">

                        <a href="https://www.facebook.com/Flannagansaccountants/">
                            <i style="color: darkgrey;" class="fab fa-facebook-f px-3 fa-2x"></i></a>
                        <a href="https://twitter.com/flannaccounts">
                            <span> <i style="color: darkgrey;" class="fab fa-2x fa-twitter ms-1 px-2"></i></span>
                        </a>
                    </div>

                    <div class="col-md-1"></div>
                </div>
            </div>
        </div> <!-- .container -->
    </footer> <!-- #main-footer -->
</div>