<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <title>Document</title>
</head>
<style>
    div.mg-ab {
        margin: 3% 10% 3% 10%;
    }
</style>

<body>
    <%- include('../partials/navbar') %>

        <div style="position:relative">
            <div class="headerimg">
                <h1 class="subtitle">Accounting</h1>
            </div>
            <div class="custom-shape-divider-bottom-1643476699">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
                </svg>
            </div>
        </div>

        <div class="container" style=" margin-top: 4%;">
            <div class="row">
                <p class="text-center">We undertake all statutory and non-statutory accounting. Our business
                    assurance
                    services can make a real
                    difference to you. We can bring proven expertise and a wide range of experience of similar
                    organisations
                    to
                    yours. If you are a business, we can help you with reliable accounting services, with your
                    accounting
                    systems and corporate secretarial needs.
                </p>
            </div>
        </div>
        <div class="padding bottommargin">
            <div class="card box-shade  border1 h-100">
                <div class="card-body">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <span><i class="fas fa-user iconbg-color"></i></span>
                            </div>
                            <div class="col-md-10 ">
                                <h4>Sole Trader
                                </h4>
                                <p class="text-align bottompadding">If you are a Sole Traders, Partnership or
                                    operating
                                    as a
                                    Company, our
                                    extensive
                                    experience
                                    covers all kinds of organisations ranging from owner-managed businesses to
                                    listed
                                    companies.
                                    We are a dedicated team of qualified accountants that helps you with Book
                                    keeping,
                                    VAT,
                                    Annual accounts, Personal tax returns and Tax Planning. We offer tailored
                                    business
                                    accounting services dependent on your needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding bottommargin">
            <div class="card box-shade  border1 h-100">
                <div class="card-body">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <span><i class="fas fa-user iconbg-color"></i></span>
                            </div>
                            <div class="col-md-10 ">
                                <h4>Sole Trader
                                </h4>
                                <p class="text-align bottompadding">If you are a Sole Traders, Partnership or
                                    operating
                                    as a
                                    Company, our
                                    extensive
                                    experience
                                    covers all kinds of organisations ranging from owner-managed businesses to
                                    listed
                                    companies.
                                    We are a dedicated team of qualified accountants that helps you with Book
                                    keeping,
                                    VAT,
                                    Annual accounts, Personal tax returns and Tax Planning. We offer tailored
                                    business
                                    accounting services dependent on your needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding bottommargin">
            <div class="card box-shade  border1 h-100">
                <div class="card-body">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <span><i class="fas fa-user iconbg-color"></i></span>
                            </div>
                            <div class="col-md-10 ">
                                <h4>Sole Trader
                                </h4>
                                <p class="text-align bottompadding">If you are a Sole Traders, Partnership or
                                    operating
                                    as a
                                    Company, our
                                    extensive
                                    experience
                                    covers all kinds of organisations ranging from owner-managed businesses to
                                    listed
                                    companies.
                                    We are a dedicated team of qualified accountants that helps you with Book
                                    keeping,
                                    VAT,
                                    Annual accounts, Personal tax returns and Tax Planning. We offer tailored
                                    business
                                    accounting services dependent on your needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>

</body>

</html>