<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <title>Document</title>
</head>
<style>
    div.mg-ab {
        margin: 3% 10% 3% 10%;
    }
</style>

<body>
    <%- include('../partials/navbar') %>
        <div style="position:relative">
            <div class="businessimg">
                <h1 class="subtitle">Business Support Service</h1>
            </div>
            <div class="custom-shape-divider-bottom-1643476699">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <div class="container" style="margin-top: 4%;">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3>Flannagans Business Support Service
                    </h3>
                    <p>Planning plays crucial role in every Business. It helps gauge income and
                        expenditure, handles unforeseen circumstances and underpins good business decisions considering
                        the
                        need we provide consultancy for an on-going or a project basis. We can make a substantial
                        difference
                        to your corporate strategies and business prospects. We provide a proactive tailor made service
                        to
                        suit your needs. Our consultancy covers Non-executive roles, Due diligence on potential
                        acquisition
                        targets, Post-acquisition integration, Rationalising your manufacturing base, Operational
                        efficiencies, Product costing.
                    </p>
                    <p>Our business support to you far exceeds the traditional accounting services. We strive to get
                        very
                        close to our clients to assist them in developing internal systems and controls which will help
                        business development and also to grow in the fiercely competitive business world.

                    </p>
                    <p>Our experienced business support accounting professionals deal with the broad spectrum of clients
                        and
                        industrial specialists who have held senior project and change-management roles in industry.
                    </p>
                    <p>We do provide our business accounting consultancy services on an on-going or on a project basis.
                        Our
                        target is to make a substantial difference to your business strategies and its prospects as we
                        are
                        proud to offer you our proactive tailor made service to suit your needs.

                    </p>
                    <ul><b>We have our Business accounting consultancy in following Business support areas:</b>
                        <li>Non-executive roles
                        </li>
                        <li> Due diligence on potential acquisition targets
                        </li>
                        <li> Post-acquisition integration
                        </li>
                        <li> Rationalising your manufacturing base
                        </li>
                        <li> Operational efficiencies
                        </li>
                        <li> Product costings
                        </li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="py-4"></div>
        <%- include('../partials/footer') %>

</body>

</html>