<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <title>Document</title>
</head>
<style>
    div.mg-ab {
        margin: 3% 10% 3% 10%;
    }
</style>

<body>
    <%- include('../partials/navbar') %>
        <div style="position:relative">
            <div class="medicalimg" style="position: center;">
                <h1 class="subtitle">Medical Specialists</h1>
            </div>
            <div class="custom-shape-divider-bottom-1643476699">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <div class="container" style="margin-top: 4%;">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>Accountants at Flannagans offer medical professionals advice and guidance that is tailored to the
                        unique environment in which healthcare industry workers live. They can help you make the most
                        professionally, personally and financially of the opportunities
                    </p>
                    <p>In addition to our core services of accountancy, taxation and payroll, we at Flannagans also
                        provide you our accounting services for Medical sector. Where our understanding and experience
                        of accountant services for the medical sector allows us to understand your specific requirement
                        based on your business situation.
                    </p>
                    <p>We not only offer advice in areas such as accounts, we also use our sector understanding to help
                        and support our clients in this sector, offering you strategic business advice alongside
                        specialist tax and corporate finance advice to help you achieve your objectives in these
                        challenging economic conditions.
                    </p>
                    <p>We provide our expert medical accounting services to General Practitioners, Hospital Consultants,
                        Locum Doctors, Opticians, Session Doctors, Salaried Doctors, Dentists and Pharmacists.
                    </p>
                    <p>We work closely with you to help improve the profits, reduce tax and improve cash flows. We have
                        considerable experience in advising medical experts helping you achieve your professional goals.
                        By choosing us, we will provide you proactive accounting advice, first class accounting service
                        and excellent value for money. We will help you run your business more efficiently and maximise
                        the return. </p>
                    <ul><b>Our Specialist medical accounting expertise
                        </b>
                        <li>Routine account preparation
                        </li>
                        <li> Tax returns, tax planning, income tax
                        </li>
                        <li> VAT
                        </li>
                        <li> Detailed accounting for GMS and PMS practices
                        </li>
                        <li> Regular management accounts that monitor practice performance, including benchmarking
                            against national averages
                        </li>
                        <li> Calculation of drawings
                        </li>
                        <li>Advice on effective use of working capital
                        </li>
                        <li>Finance for premises
                        </li>
                        <li>Partnership agreements
                        </li>
                        <li>Partnership tax planning
                        </li>
                        <li>Preparation of expense claims
                        </li>
                        <li>Personal tax planning – including exit strategies
                        </li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="py-4"></div>

        <%- include('../partials/footer') %>

</body>

</html>