<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <title>Document</title>
</head>
<style>
    div.mg-ab {
        margin: 3% 10% 3% 10%;
    }
</style>

<body>
    <%- include('../partials/navbar') %>
        <div style="position:relative">
            <div class="sectorimg">
                <h1 class="subtitle">Sector Specialities
                </h1>
            </div>
            <div class="custom-shape-divider-bottom-1643476699">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <div class="container" style="margin-top: 4%;">
            <div class="row ">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">

                    <p>Today’s businesses are exposed to a lot of challenges and we commit to help businesses like yours
                        to face those challenges. Our broad client base and range of businesses from start-ups to
                        sizeable private companies help them to manage their business challenges. We have specialist
                        accounting services knowledge and expertise in producing accounts, payrolls, Taxation, Forensic
                        accounting reporting and Business support to certain industries including Healthcare, Solicitor
                        practices, Charities and Pension Schemes.
                    </p>
                    <p>Our professional accounting excellence and commitment to our clients have firmly established us
                        as one of the leading independent chartered accountancy practices in the North East. We provide
                        excellent accounting support and services to our clients with the intent to far exceed the
                        traditional account preparation services. And also endeavour to get very close to our clients to
                        assist them in developing their business internal systems and controls which will help their
                        business develop and grow in the fiercely competitive business world.
                    </p>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row padding">
                <div class="col-md-4">
                    <div class="card  bordercolor box-shade cardsize h-100">
                        <div class="card-body">
                            <i class="fas fa-capsules fa-4x d-flex justify-content-center py-3"></i>
                            <h4 class="card-title text-center "><b>MEDICAL SPECIALIST</b></h4>
                            <p class="card-text text-center pb-5">Accountants at Flannagans offer medical professionals
                                advice and
                                guidance that is tailored to the unique environment in which healthcare industry
                                workers
                                live. They can help you make the most professionally…</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card  bordercolor box-shade h-100">
                        <div class="card-body">
                            <i class="fas fa-hands-helping fa-4x d-flex justify-content-center py-3"></i>
                            <h4 class="card-title text-center "><b>CHARITIES</b></h4>
                            <p class="card-text text-center pb-5">
                                We offer a wide range of service to Charities
                                including
                                Gift Aid
                                declarations, Donations and Grant Funding. We aim to understand your
                                specific needs
                                and
                                help to overcome any obstacles you may face.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bordercolor box-shade h-100">
                        <div class="card-body">
                            <i class="fas fa-shopping-cart fa-4x d-flex justify-content-center py-3"></i>
                            <h4 class="card-title text-center"><b>RETAIL AND WHOLESALE</b></h4>
                            <p class="card-text text-center pb-5">The retail sector has always been one of the
                                most
                                competitive
                                business
                                environments to operate in, but with the rapid growth of direct marketing,
                                telephone
                                sales, Internet trading, and overseas competition…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container div-padding">
            <div class="row padding">
                <div class="col-md-4">
                    <div class="card  bordercolor box-shade cardsize h-100">
                        <div class="card-body">
                            <i class="fas fa-capsules fa-4x d-flex justify-content-center py-3"></i>
                            <h4 class="card-title text-center "><b>CONSTRUCTION AND PROPERTY</b></h4>
                            <p class="card-text text-center pb-5">Buying, investing, renting or building a
                                property is a
                                complex business and with it comes complex tax issues. Although it is
                                possible to
                                navigate and understand the property and construction tax but if you get
                                that wrong,
                                this can become a minefield.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card  bordercolor box-shade h-100">
                        <div class="card-body">
                            <i class="fas fa-hands-helping fa-4x d-flex justify-content-center py-3"></i>
                            <h4 class="card-title text-center "><b>IT SECTOR</b></h4>
                            <p class="card-text text-center pb-5">
                                We have extensive knowledge and experience in
                                dealing with
                                accounts for IT Contractors and IT Companies. We understand the complexity
                                of the
                                business with customers across the globe and multi-national IT Supply
                                chains.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bordercolor box-shade h-100">
                        <div class="card-body">
                            <i class="fas fa-shopping-cart fa-4x d-flex justify-content-center py-3"></i>
                            <h4 class="card-title text-center"><b>MANUFACTORING</b></h4>
                            <p class="card-text text-center pb-5">
                                In addition to our core services of
                                accountancy, taxation
                                and payroll, We at ‘Flannagans’ also provide you our accounting services for
                                manufacturing sector. Where our knowledge and understanding of the
                                manufacturing sector
                                allows us to understand your specific requirement based on your business
                                situation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>

</body>

</html>