<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <title>Document</title>
</head>
<style>
    div.mg-ab {
        margin: 3% 10% 3% 10%;
    }
</style>

<body>
    <%- include('../partials/navbar') %>
        <div style="position:relative">
            <div class="taxationimg">
                <h1 class="subtitle">Taxation</h1>
            </div>
            <div class="custom-shape-divider-bottom-1643476699">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <div class="container" style="margin-top: 4%;">
            <div class="row ">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">

                    <p>Flannagans has a wide range of experience and specialism’s and can advise on an array of complex
                        issues to minimise tax liabilities. We offer a wide range of taxation advice including Personal
                        Tax, Capital Gain Tax, Corporation Tax, VAT and many more.
                    </p>
                    <p>Flannagans offers the right taxation advice for your business and personal tax affairs. We pride
                        ourselves in working with our clients to streamline tax issues in a practical way. We understand
                        the fast changing tax environment and the need to help businesses and individuals save money. We
                        work closely with our clients to meet their short term and long term business goals.
                    </p>

                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="padding bottommargin" style="margin-left: 6%; margin-right: 6%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bordercolor box-shade  border1 h-100 card-bk">
                            <div class="card-body">
                                <div class=" text-center">
                                    <span><i
                                            class="fas fa-check-square iconbg-color text-center d-flex justify-content-center"></i></span>
                                </div>
                                <h4 class="cardheader text-center">
                                    <span class=" mt-5"><b>PERSONAL<br>
                                            TAXATION SERVICE</b></span>
                                </h4>
                                <div class="text-center">"We offer a tailored personal tax service including
                                    assistance
                                    with tax returns,
                                    tax planning and specialist tax advice including international tax and tax
                                    investigations. We aim to establish strong relationships with our clients to
                                    understand their circumstances and offer tailored solutions that maximise their
                                    revenue whilst complying with HMRC regulations."</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bordercolor box-shade  border1 h-100 card-bk">
                            <div class="card-body">
                                <div class=" text-center">
                                    <span><i
                                            class="fas fa-hourglass-half iconbg-color text-center d-flex justify-content-center"></i></span>
                                </div>
                                <h4 class="cardheader text-center">
                                    <span class=" mt-5"><b>BUSINESS<br>
                                            TAXATION SERVICE</b></span>
                                </h4>
                                <p class="text-center">
                                    For business taxation service we make tax compliance simpler providing
                                    effective
                                    tax advice, complete tax returns, HMRC investigations, assist with capital
                                    allowances claims, and minimise the tax compliance burden. Indirect taxes
                                    like
                                    VAT affect every business so we aim to provide professional VAT consultancy.
                                    We
                                    also offer our expertise in estate tax efficient inheritance planning and
                                    relevant taxation services for trusts.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bordercolor box-shade  border1 h-100 card-bk">
                            <div class="card-body">
                                <div class=" text-center">
                                    <span><i class="fas fa-user iconbg-color d-flex justify-content-center"></i></span>
                                </div>
                                <h4 class="cardheader text-center">
                                    <span class=" mt-5"><b>INDIRECT<br>
                                            TAXATION SERVICE</b></span>
                                </h4>
                                <p class="text-center">As we understand that every business needs to be VAT
                                    compliant, therefore timely
                                    and professional advice is crucial. We provide VAT consultancy with VAT
                                    registration, VAT return completion and a specialist VAT advice.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
<%- include('../partials/footer') %>

</html>